@import '../../theme/theme';

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  line-height: 0;
}

.info {
  min-width: 0;
  margin-left: map-get($spacers, normal);
}

.nameAndUsername {
  display: block;
  width: 100%;
  overflow-x: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: $black-color;
    text-decoration: underline;
  }
}

.rank {
  margin-right: map-get($spacers, 2x-small);
}

.rank,
.name {
  color: $black-color;
  font-weight: 600;
}

.username {
  margin-left: map-get($spacers, 2x-small);
  color: $body-color;
}

.company {
  overflow: hidden;
  margin: 0;
  color: $body-color;
  font-size: map-get($font-sizes, small);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meta {
  display: flex;
  flex-direction: row;
  margin: map-get($spacers, normal) 0 0 0;
}

.metaItem {
  margin-right: map-get($spacers, normal);
  font-size: map-get($font-sizes, small);
  font-weight: 600;

  &:last-child {
    margin-right: 0;
  }
}

.location {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: px-to-rem(1000px)) {
  .meta {
    flex-direction: column;
  }

  .metaItem {
    margin-right: 0;
  }
}
