@import '../../theme/theme';

.list {
  display: grid;
  grid-column-gap: map-get($spacers, large);
  grid-row-gap: map-get($spacers, large);
}

.columns1 {
  grid-template-columns: 1fr;
}

.columns2 {
  grid-template-columns: 1fr 1fr;
}

.columns3 {
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1000px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
