@import '../../theme/theme';

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $section-gap * 2 0;
}

.badge {
  margin: 0 0 map-get($spacers, 2x-small) 0;
  color: $primary-color;
  font-size: map-get($heading-sizes, h6);
}

.title {
  margin: 0 0 map-get($spacers, x-small) 0;
  color: $black-color;
  font-size: map-get($heading-sizes, h1);
  font-weight: 600;
  line-height: $heading-line-height;
}

.description {
  margin: map-get($spacers, normal) 0 0 0;
  font-size: map-get($heading-sizes, h3);
}

.image {
  margin-left: map-get($spacers, 2x-large);
}
