@import '../../theme/theme';

.linkBar {
  display: flex;
  padding-bottom: map-get($spacers, x-large);
}

.withoutGap {
  padding-bottom: 0;
}

.item {
  flex: 0 0 auto;
  margin-right: map-get($spacers, normal);
  color: $text-muted;
  font-size: map-get($font-sizes, large);
  text-decoration: none;

  &:hover,
  &.isActive {
    color: $black-color;
  }
}

@media only screen and (max-width: 1000px) {
  .linkBar {
    flex-direction: column;
  }

  .item {
    margin-right: 0;
    margin-bottom: map-get($spacers, x-small);
  }
}
