@import '../../theme/theme';

.locationCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: map-get($spacers, large);
  border: 1px solid $text-muted;
  background-color: $white;
  border-radius: px-to-rem(2px);
  box-shadow: 3px 3px 0 #d5d5d6;
}

.name {
  color: $black-color;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  margin: map-get($spacers, 2x-small) 0 0 0;
}

.metaItem {
  margin-right: map-get($spacers, normal);
  color: $body-color;
  font-size: map-get($font-sizes, small);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.language {
  margin-right: 0;
  margin-left: auto;
  color: $secondary-color;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
