@import '../../theme/theme';

.name {
  color: $black-color;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.meta {
  display: flex;
  flex-direction: row;
  margin: map-get($spacers, 2x-small) 0 0 0;
}

.metaItem {
  margin-right: map-get($spacers, normal);
  color: $body-color;
  font-size: map-get($font-sizes, small);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.language {
  margin-right: 0;
  color: $secondary-color;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: px-to-rem(1000px)) {
  .meta {
    flex-direction: column;
  }

  .metaItem {
    margin-right: 0;
  }
}
