@import '../../theme/theme';

.logo {
  width: px-to-rem(147px);
  height: px-to-rem(41px);
}

@media only screen and (max-width: px-to-rem(1000px)) {
  .logo {
    width: px-to-rem(120px);
    height: px-to-rem(33px);
  }
}
