@import '../../theme/theme';

.container {
  text-align: center;
}

.count {
  margin: 0;
  color: $black-color;
  font-size: map-get($heading-sizes, h2);
  font-weight: 600;
}

.title {
  margin: 0;
  color: $text-muted;
  font-size: map-get($font-sizes, large);
}
