@import '../../../theme/theme';

.developers {
  display: grid;
  grid-auto-rows: 1fr;
  grid-column-gap: map-get($spacers, large);
  grid-row-gap: map-get($spacers, large);
  grid-template-columns: 1fr 1fr;
}
