@import '../../theme/theme';

.loading {
  padding: $section-gap / 2 0;
  text-align: center;
}

.text {
  color: $text-muted;
  font-size: map-get($font-sizes, large);
}

@media only screen and (max-width: px-to-rem(1000px)) {
  .loading {
    padding: $section-gap / 2.5 0;
  }
}
