@import '../../theme/theme';

.footer {
  flex-shrink: 0;
}

.inner {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}

.copyright {
  margin: 0;
  color: $text-muted;
}

.menus {
  display: grid;
  grid-row-gap: map-get($spacers, x-large);
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.menuTitle {
  margin: 0 0 map-get($spacers, small);
  font-size: map-get($heading-sizes, h5);
  font-weight: 600;
}

.menuLinks {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menuItem {
  margin-bottom: map-get($spacers, x-small);

  &:last-child {
    margin-bottom: 0;
  }
}

.menuLink {
  color: $text-muted;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: px-to-rem(1000px)) {
  .inner {
    display: block;
  }

  .menus {
    margin-top: map-get($spacers, 2x-large);
  }
}
