@import '../../theme/theme';

.inner {
  display: grid;
  grid-column-gap: map-get($spacers, x-large);
  grid-template-columns: 4fr 1fr 1fr 1fr;
}

.copyright {
  margin: 0;
  color: $text-muted;
  font-size: map-get($font-sizes, small);
}

.menuTitle {
  margin: 0 0 map-get($spacers, small);
  font-size: map-get($heading-sizes, h5);
  font-weight: 600;
}

.menuLinks {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menuItem {
  margin-bottom: map-get($spacers, x-small);
}

.menuLink {
  color: $text-muted;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
