@import '../../theme/theme';

.buttonContainer {
  text-align: center;
}

.top8 {
  display: grid;
  padding: map-get($spacers, 2x-large);
  grid-column-gap: map-get($spacers, x-large);
  grid-row-gap: map-get($spacers, x-large);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.locationLink {
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.languages {
  display: grid;
  padding: map-get($spacers, 2x-large) 0;
  grid-column-gap: map-get($spacers, x-large);
  grid-row-gap: map-get($spacers, x-large);
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.firstExplorers {
  display: grid;
  padding: map-get($spacers, 2x-large) map-get($spacers, 2x-large) 0 map-get($spacers, 2x-large);
  grid-column-gap: map-get($spacers, x-large);
  grid-row-gap: map-get($spacers, x-large);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.repositories {
  display: grid;
  padding: map-get($spacers, 2x-large) 0;
  grid-auto-rows: 1fr;
  grid-auto-rows: inherit;
  grid-column-gap: map-get($spacers, large);
  grid-row-gap: map-get($spacers, large);
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: px-to-rem(1000px)) {
  .repositories {
    grid-template-columns: 1fr;
  }
}
