@import '../../theme/theme';

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: map-get($spacers, large);
  border: 1px solid $text-muted;
  background-color: $white;
  border-radius: px-to-rem(2px);
  box-shadow: 3px 3px 0 #d5d5d6;
}
